@font-face {
  font-family: nb;
  src: url(./NBInternationalProBoo.woff2);
}
@font-face {
  font-family: rejoy;
  src: url(./Rejouice-Headline.woff2);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}
body,
html {
  width: 100%;
  height: 100vh;
}
#page1 {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
a {
  text-decoration: none;
}
.open-menu-btn , .menu-close-btn {
  cursor: pointer;
}
.menu-overlay {
  width: 100%;
  padding: 1rem 2rem;
  background-color: #ff5f38;
  position: absolute;
  top: 0%;
  z-index: 999;
  pointer-events: none;
  transition: clip-path 1s ease;
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
}

.menu-overlay.active {
  pointer-events: all;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.menu-nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1vw;
}

.menu-logo ,.menu-close-btn{
  font-size: 1.5vw;
}

.menu-col{
  display: flex;
}

.menu-col div {
  flex: 1;
}

.video{
  width: 50%;
}

.video-preview {
  border-radius: 10px; 
  background-color: #0e0e0e;
  height: 0px;
}

.video-details{
  padding-top: 1vw;
  display: flex;
}

.left {
  display: flex;
  align-items: center;
  gap: 5px;
}

.menu-links {
  transform: translateY(120%);
  opacity: 50%;
}
.menu-links a {
  text-decoration: none;
  font-size: 3.4vw;
  color: #0e0e0e;
  letter-spacing: -2px;
  font-weight: 400;
  position: relative;
}

.menu-links a::before {
  content: "";
  position: absolute;
  top: 90%;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #0e0e0e;
  transition: all 0.3s;
}

.menu-links:hover a::before{
  width: 100%;
}

.btn {
  margin: 2vw 0;
}


.btn a{
  color: #000;
  font-size: 1.1vw;
  width: fit-content;
  border: .1vw solid #0e0e0e;
  padding: 1vw 1.9vw;
  border-radius: 6px;
  position: relative;
}

.btn a::before{
  content: "";
  position: absolute;
  top: 0%;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #0e0e0e;
  transition: all 0.3s;
  z-index: -1;
}

.btn a:hover {
  color: #ff5f38;
}

.btn:hover a::before{
  width: 100%;
}

.menu-footer{
  color: #0e0e0e;
  margin-top: 2vw;
}

.menu-divider{
  height: 1px;
  width: 0%;
  background-color: #0e0e0e;
  margin-bottom: 1vw;
}

.menu-footer-last{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.socials {
  display: flex;
  gap: 1vw;
}

.socials a{
  font-size: 1.2vw;
  color: #0e0e0e;
}

#page1 #cursor {
  width: 7vw;
  height: 7vw;
  background-color: #ff5f38;
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: nb;
  font-size: 1.1vw;
  top: 0;
  left: 0;
  z-index: 1;
}
#page1 video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
}
.page1-content {
  width: inherit;
  height: inherit;
  position: relative;
}
.page1-content nav {
  padding: 3vw;
  z-index: 99;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page1-content h3 {
  color: #fff;
  font-family: nb;
  font-weight: 100;
  z-index: 2;
}
.page1-content h4 {
  color: #fff;
  font-family: nb;
  font-weight: 100;
  z-index: 2;
}
.page1-content #heading {
  position: absolute;
  bottom: -11%;
  font-family: rejoy;
  z-index: 99;
  left: 3%;
  overflow: hidden;
}
.elem {
  transform: translate(0, 100%);
}
.page1-content h1 {
  display: inline-block;
  color: #fffcf1;
  font-family: rejoy;
  font-size: 19.5vw;
}

.page1-content h1:nth-child(1) {
  font-size: 26vw;
}
.page1-content h1:nth-child(2) {
  font-size: 26vw;
}
.page1-content h1:last-child {
  font-size: 26vw;
}
#page2 {
  width: 100%;
  height: 100vh;
  background-color: #faf8f3;
  padding: 5vw 3vw 0vw 3vw;
}

.top {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.top1 h1 {
  font-family: nb;
  color: #0e0e0e;
  font-size: 1.7vw;
  font-weight: 500;
}
.top2 h1 {
  font-family: nb;
  color: #504f4e;
  font-size: 1.8vw;
  font-weight: 500;
  letter-spacing: -0.1px;
}
hr {
  margin: 15px 0;
  width: 50%;
}

.paragraph h1 {
  padding-right: 3vw;
  color: #0e0e0e;
  font-family: nb;
  font-size: 4.3vw;
  font-weight: 500;
  letter-spacing: -2px;
  white-space: nowrap;
  line-height: 1.11;
}
.first-line {
  padding-left: 7vw;
}
.anim-para {
  width: fit-content;
  overflow: hidden;
}
.anim-para h1 {
  transform: translate(0, 100%);
}
#page3 {
  min-height: 100vh;
  width: 100%;
  background-color: #faf8f3;
}
.top-elem {
  text-align: center;
  padding-top: 12vw;
}
.top-elem p {
  font-size: 1vw;
  color: #0e0e0e;
  font-family: nb;
  word-spacing: 1px;
  line-height: 3;
}
.top-elem p span {
  font-size: 0.7vw;
  background-color: #0e0e0e;
  width: fit-content;
  color: #faf8f3;
  padding: 5px 8px;
  border-radius: 15px;
}
.top-elem h1 {
  font-family: nb;
  font-size: 4vw;
  font-weight: 400;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
}
.middle-elem {
  padding: 12vw 3vw 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.middle-elem h1 {
  font-size: 1.67vw;
  font-family: nb;
  font-weight: 500;
}
.bottom-elem {
  padding: 0.5vw 3vw 0;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.box {
  position: relative;
  width: 40%;
  height: 37vw;
}
.box video {
  width: 100%;
  height: inherit;
  object-fit: cover;
  object-position: center;
  z-index: 1;
}
.box img {
  position: absolute;
  width: 100%;
  height: inherit;
  object-fit: cover;
  z-index: 2;
  transition: all linear 0.4s;
}
.box img:hover {
  opacity: 0 !important;
}
#page4 {
  padding: 5vw;
  background-color: #faf8f3;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
#page4 video {
  width: 70%;
}
#page4 svg {
  position: absolute;
  width: 35%;
}
.centre-text {
  position: absolute;
  color: #faf8f3;
}
.num-anim {
  display: flex;
  align-items: flex-start;
  gap: 4px;
}
.num-anim h1 {
  font-family: nb;
  font-size: 4.2vw;
  font-weight: 500;
}
.num {
  height: 9vh;
  padding: 0 5px;
  overflow: hidden;
}
.num h1 {
  transform: translate(0, -400%);
}
.text {
  font-family: nb;
  font-size: 1.7vw;
  font-weight: 400;
}
#page5 {
  background-color: #faf8f3;
  padding: 6vw 0vw 0vw;
  width: 100%;
  height: 100vh;
}
.el {
  width: 96%;
  margin: 0 2%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  border-bottom: 1px solid #0e0e0e;
  position: relative;
}
.el h1 {
  font-family: rejoy;
  font-size: 8vw;
  font-weight: 400;
}
.el h2 {
  font-family: rejoy;
  font-size: 2vw;
  font-weight: 100;
}
.swiper {
  top: -10%;
  position: absolute;
  height: 70vh;
  width: 100%;
}
.swiper-slide {
  width: 5vw;
  height: 60vh;
}
.swiper-slide img {
  width: 100%;
  position: absolute;
  bottom: 0;
  object-fit: cover;
  -webkit-user-select: none;
  user-select: none;
}

#page6 {
  background-color: #faf8f3;
  width: 100%;
  min-height: 70vh;
}
.top-content{
  text-align: center;
  padding-top: 15vw;
}
.top-content p {
  font-size: 1.1vw;
  color: #504f4e;
  font-family: nb;
  word-spacing: 1px;
  line-height: 2;
}
.top-content h1 {
  font-family: nb;
  font-size: 4.3vw;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 6px;
  padding-bottom: 15vw;
}
 .footer {
  height: 100vh;
  width: 100%;
  background-color: #0e0e0e;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content{
  padding: 1.5vw 3vw;
  color: #DCD9D0;
  height: 65vh;
  background-color: #0e0e0e;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 99;
}
.top{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.top-left h2 {
  font-size: 1.6vw;
  font-family: rejoy;
  letter-spacing: 1px;
  font-weight: 300;
  line-height: 3;
  z-index: 99;
}
.top-left button {
  font-size: 1.2vw;
  font-family: nb;
  font-weight: 300; 
  padding: 1vw;
  border: 1px solid #DCD9D0;
  background-color: transparent;
  color: #DCD9D0;
  border-radius: 6px;
}
.top-left button:hover{
  background-color: #DCD9D0;
  color: #0e0e0e;
  transition:  ease-out .7s;
}
.top-right {
  display: flex;
  align-items: flex-start;
  gap: 4vw;
}
.top-right p {
  font-size: 1vw;
  font-family: rejoy;
  font-weight: 100;
  letter-spacing: 1px;
}
.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bottom-left p {
  font-size: 1.11vw;
  font-family: nb;
  font-weight: 100;
}
.bottom-right {
  display: flex;
  gap: 3.9vw;
}
.bottom-right p {
  font-size: 1.1vw;
  font-family: nb;
  font-weight: 100;
}
.footer #footer-heading {
  height: 35vh;
  width: 96%;
  margin-left: 3%;
  font-family: rejoy;
}
.f-elem {
  transform: translate(0 , -130%);
}
.footer h1 {
  display: inline-block;
  color: #fffcf1;
  font-family: rejoy;
  font-size: 19.5vw;
  z-index: 1;
  line-height: .6;
}

.footer h1:nth-child(1) {
  font-size: 26vw;
}
.footer h1:nth-child(2) {
  font-size: 26vw;
}
.footer h1:last-child {
  font-size: 26vw;
} 
.page4-cursor {
  width: 7vw;
  height: 7vw;
  background-color: #0e0e0e;
  color: #faf8f3;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: nb;
  font-size: 1.1vw;
  position: absolute;
  left: 0%;
  top: 0%;
  z-index: 1;
}